body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.Nyhetsartikkel{
    padding-top: 40px;
    padding-left: 20px;
    height: 80%;
}

.Nyhetsartikkel p{
    font-size: 1.3em;
    float: left;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
    line-height: 25px;
}

.Nyhetsartikkel img{
    width: 40%;
    height: 40%;
    padding-top: 10px;
    transform: translateX(70%);
}

.Nyhetsartikkel h1{
    text-align: center;
}






